<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title>
      <ion-button color= "light" (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      MemoryWriter
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Memory</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-item>
    <ion-label position="stacked" class="my-label"> Your Memory ...</ion-label>
    <ion-textarea class="textfield" value={{memory}} spellcheck=true rows="5" autoGrow=true autocapitalize=true #textfield placeholder="Your precious memory "></ion-textarea>
  </ion-item>

  <ion-footer>
    <ion-button color= "light" (click)="updateMemory(textfield.value)">
      Add
    </ion-button>
  </ion-footer>
  
</ion-content>
