<ion-header translucent>
  <ion-toolbar>
    <ion-title> Memory To Location </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Rank from high star</ion-label>
    <ion-checkbox slot="end" value="pepperoni" checked={{highToLow}} (ionChange)=switchSort()></ion-checkbox>
  </ion-item>
    <!-- listing all the locations  -->
    <ion-list>
      <ion-item-sliding *ngFor="let pos of locations | async">
        <ion-item>
          <ion-label text-wrap>
            Place: {{ pos.place }}
            <p>
              {{ pos.timestamp | date:'short' }}
            </p>
          </ion-label>
          <ion-icon *ngFor="let item of [].constructor(pos.star); let i = index" name="star-half-outline" ></ion-icon>
        </ion-item>
        <!-- side button to navigate or delete -->
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteLocation(pos)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item-options side="start">
          <ion-item-option color="primary" (click)="memoryWriter(pos)">
            <ion-icon name="clipboard-outline" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        
      </ion-item-sliding>
    </ion-list>
    
</ion-content>


