<ion-header translucent>
  <ion-toolbar>
    <ion-title> Location Rank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
      <ion-item-sliding *ngFor="let pos of locations | async">
        <ion-item>
          <ion-label text-wrap>
            Place: {{ pos.place }}
            <p>
              {{ pos.timestamp | date:'short' }}
            </p>
            <ion-icon *ngFor="let item of [].constructor(pos.happy); let i = index" name="happy-outline" ></ion-icon>
          </ion-label>

          <ion-icon *ngFor="let item of [].constructor(pos.star); let i = index" name="star-half-outline" ></ion-icon>

        </ion-item>
 
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteLocation(pos)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item-options side="start">
          <ion-item-option color="primary" (click)="viewMemory(pos)">
            <ion-icon name="eye-outline" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        
      </ion-item-sliding>
    </ion-list>
</ion-content>


