.my-label {
  font-size:3ch;
  font-style: italic;
}

.text{
  font-size: small;
  font-style: italic;
}

.star{
  shape-image-threshold: inherit;
  padding-top: 1%;
}

.stuff{
  --border-width:1px;
}